@import '@components/layout/main-layout/styles.scss';
@import '@components/layout/navigation-menu/styles.scss';
@import '@components/layout/mobile-navigation-menu/styles.scss';
@import '@components/layout/footer/styles.scss';

@import '@/sanity/structure/custom-nav-bar/styles.scss';

.wrapper {
  @include container-center;
}

.block-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

