@import '_variables.scss';
@import '_mixins.scss';

@import 'elements/index.scss';
@import 'pages/index.scss';
@import 'swiper.scss';
@import 'reset.scss';

// Base styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: $default-font;
}

.main-layout {
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  h1 {
    font-size: $font-h1;
    line-height: $line-height;
  }
  
  h2 {
    font-size: $font-h2;
    line-height: $line-height;
  }
  
  h3 {
    font-size: $font-h3;
    line-height: $line-height;
  }
  
  h4 {
    font-size: $font-h4;
    line-height: $line-height;
  }
  
  h5 {
    font-size: $font-h5;
    line-height: $line-height;
  }
  
  h6 {
    font-size: $font-h6;
    line-height: $line-height;
    padding-top: 4px;
  }
  
  p,
  li,
  a {
    font-size: $font-body;
    line-height: $line-height;
    padding-top: 2px;
  }
  
  span {
    font-size: $font-small;
    line-height: $line-height;
    padding-top: 2px;
  }
}
