@import url('./layout.css');
@import url('./home-page.css');
@import url('./thank-you-page.css');

body {
  background-color: #fff;
  margin: 0;
  font-family: var(--font-brandon-grotesque);
}

h1,
h2,
h3,
p {
  margin: 0;
}
