input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

.form-section {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  z-index: 10;
}

.over-top {
  position: relative;
  z-index: 10;
}

.form-section::after {
  content: '';
  background: #642b7c;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

.form-section .content-section{
  margin-top: 100px;
  margin-bottom: 50px;
}

.form-section .content-section p{
  text-align: center;
}

.cover-image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-wrapper {
  margin-top: -8px;
  background: #3d3834;
  padding-bottom: 5px;
}

.form-inner-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input-wrapper-linear {
  display: flex;
  gap: 16px;
  flex: 1;
}

.input-wrapper-linear label {
  color: #fff;
}

.input-wrapper label {
  color: #fff;
}

.input-wrapper input, select {
  background: transparent;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}

.input-wrapper, .input-wrapper-linear input[type="checkbox"] {
  accent-color: #642b7c;
}

.validation-error input {
  border-bottom: 1px solid red;
}

.validation-error span {
  color: red;
  font-size: 14px;
}

.pd-l-32 {
  padding-left: 32px;
}

.pd-t-32 {
  padding-top: 32px;
}

.pd-t-8 {
  padding-top: 8px;
}

.contact-wrapper {
  background: #8C54A1;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 56px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contact-wrapper .contact-item {
  margin: 0 auto;
  max-width: 290px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contact-wrapper .contact-item a{
  color: #fff;
}

.contact-wrapper .contact-item a:hover{
  color: #642b7c;
}

.contact-wrapper .contact-item h3 {
  cursor: pointer;
  text-decoration: underline;
}

.m-b-16 {
  margin-bottom: 16px;
}

.submit-success {
  justify-content: center;
}

.submit-success label{
  color: rgb(2, 163, 2);
  font-size: 20px;
  text-align: center;
}

.submit-success label p{
  font-size: 16px;
  margin-top: 5px;
}
.submit-success label a.submit-success-pdf{
  color: rgb(2, 163, 2);
  font-weight: 500;
}