#main-layout {
  .main-header {
    position: relative;
    width: 100%;
    z-index: 30;
    background: #fff;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    transform: translateY(0);
    opacity: 1;

    &.sticky {
      position: fixed;
      top: 0;
      transform: translateY(0);
      opacity: 1;
      box-shadow: $default-shadow;
    }

    &.not-sticky {
      transform: translateY(-10px);
      padding-top: 10px;
      opacity: 0.9;
    }
  }
  .main-layout-content {
    &.sticky {
      padding-top: 175px;
    }
  }
}
