.lago-travel-interest-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 15px;
  border: 1px solid $border-color;
  cursor: pointer;
  transition: 0.5s;
  .content {
    width: 238px;
    p {
      font-weight: $bold-font-weight;
    }
    span {
      p {
        font-size: $font-small;
        font-weight: $text-font-weight;
      }
    }
  }
  &:hover {
    background-color: $accent-color;
    .content {
      p {
        font-weight: $bold-font-weight;
        color: #fff;
      }
      span {
        color: #fff;
      }
    }
  }
  .image-circle-wrapper {
    display: flex;
    align-items: center;
    width: 72px;
    height: 72px;
    img {
      border-radius: 50%;
      border: 1px solid $circle-image-border;
    }
  }
}
