.lago-travel-interest-group {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .interest-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;

    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  h3 {
    font-weight: $heading-font-weight;
    color: $accent-color;
    text-align: center;
  }
  h5 {
    font-family: $secondary-font;
    font-weight: $text-font-weight;
    text-align: center;
  }
}
