.mobile-navigation-container {
  .mobile-control {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    svg {
      color: $primary-color;
    }
  }
}
#generic-drawer-container {
  .main-logo {
    display: flex;
    justify-content: center;
  }
  .top-navigation {
    padding: 3rem 2rem 1rem;
    .contacts {
      display: flex;
      justify-content: center;
      gap: 1rem;
      a {
        display: flex;
        align-items: center;
        gap: .5rem;
        span {
          color: $primary-color;
          font-size: $font-body;
        }
      }
    }
    .socials {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding-top: 1rem;
    }
  }
  .bottom-navigation {
    max-width: 360px;
    margin: 0 auto;
    padding: 1rem;
    a {
      color: $text-color;
    }
  }
  .action-menu {
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
      display: flex;
      gap: .25rem;
      align-items: center;
    }
    #generic-select {
      .select-control  {
        width: 100%;
      }
    }
    #generic-dropdown {
      .dropdown-control  {
        width: 100%;
      }
    }
  }
  #generic-collapse-container {
    padding: .5rem;
    h5 {
      padding: .5rem;
      &:hover {
        color: $primary-color;
      }
    }
    .generic-collapse-control {
      width: 100%;
      justify-content: space-between;
    }
  }
}

#generic-select-panel {
  &.mobile-language-select {
    .select-panel {
      width: 3.25rem;
    }
  }
}